@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body{
	font-family: 'Poppins', sans-serif;
}
.abc{
	margin-bottom: 0px;
	background-color: rgba(0, 0, 0, 0.369);
    position: absolute;
    width: 100%;
}
.navbar-right{
	margin: auto;
}
.navbar-right a:hover{
	border-bottom: 2px solid black;
}

#box-wrapper{
	background-image: url(../img/header-background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height:640px;
	padding: 0px;
	margin-bottom: 0px;
}
#box-wrapper:before{
	content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 640px;
    width: 100%;
}
#box-wrapper h1{
	
	color: white;
	font-weight: bold;
	 position: absolute;
	 z-index: 492;
	 top: 220px;
}
#box-wrapper p{
	text-align: justify;
	font-size: 15px;
	position: absolute;
     z-index: 492;
     top: 400px;
     color: white;
}
#box-wrapper .buy{
	width: 80px;
    height: 30px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
     position: absolute;
     z-index: 492;
     top: 500px;
     padding-top: 6px;
}
#box-wrapper .buy  a{
	color: #999;
	text-decoration: none;
}
.features h2{
	text-align: center;
}
.features p{
	text-align: center;
}
.box{
	transition: all 0.05s;
	margin: 30px 0px 30px 0px;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #eeeeee;
}
.box:hover{
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
    transform: scale(1.05);
}
.feature-heding{
	padding: 18px;
}
.icon{
	font-size: 40px;
    padding: 20px 0px 12px 135px;
    color: #b7b2b2;
}
.feature-heding h4{
	text-align: center;
	padding-bottom: 12px;
}
.feature-heding p{
	text-align: -webkit-center;
	padding-bottom: 12px;
}
.overvies{
	background-color: #f7f7f7;
}
.overvies h3{
	text-align: center;
	padding-top: 50px;
}
.overvies p{
	text-align: center;
}
.border{
	margin-bottom: 24px;
	margin-top: 24px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #cbcbcb;
	border-radius: 5px;
}
.v-icon{
	background-color: white;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 0px;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
    border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #eeeeee;
	color: #a8a8a8;
	transform: translateX(-50%);
}
.chapter{
	padding: 18px;
}
.overvies h5{
	text-align: center;
	padding: 24px 0px;
	color: #a4a4a4;
}
.overvies p{
	text-align: -webkit-center;
	padding-bottom: 12px;
	color: #acacac;
}
.border:hover, .border:hover .v-icon{
	border-color: #00b181;
}
.video-wrapper{
	position: relative;
}
.video-wrapper iframe{
	position: absolute;
}
.author h3{
	text-align: center;
}
.author p{
	text-align: center;
	padding-bottom: 50px;
}
.text{
	margin: 0px 0px 0px 50px;
    padding: 0px 46px 0px 70px;
}
.text h3{
	line-height: 15px;
	padding-bottom: 10px;
}
.text h5{
	line-height: 18px;
	text-align: center;
}
.text img{
	padding-top: 30px;
}
.a-icon{
	padding: 10px;
    margin: 15px 5px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.a-icon:hover{
	background-color: #00cf97;
	color: white;
}
.pic{
	margin-left: 40px;
}
.laiberi{
	background-image: url(../img/library.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-width: 100%;
    min-height: 200px;
}
.bg h3{
	color: white;
	text-align: center;
	line-height: 70px;
}
.l-icon{
	float: left;
    font-size: 20px;
    color: white;
    padding-left: 95px;
    line-height: 1px;
}
.bg p{
	float: left;
    font-size: 17px;
    color: white;
    padding-left: 10px;
    line-height: 0px;
}
.news{
	width: 100%;
    height: 580px;
}
.news h3{
	text-align: center;
}
.n-t{
	text-align: center;
	padding-bottom: 50px;
}
.text-ab{
	position: absolute;
    top: 210px;
    left: 9%;
    width: 320px;
    height: 170px;
    padding: 15px;
    background-color: white;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #cbcbcb;
    transition: all 0.05s;
}
.n-icon{
	float: left;
	padding-right: 5px;
}
.i-t{
	display: inline-block;
}
.i-p{
	float: left;
}
.i-p p{
	float: left;
}
.i-t h6{
	float: right;
    margin: 1px 0px 1px 225px;
    margin: 0;
    padding-left: 197px;
    margin-top: -27px;
}
.text-ab:hover{
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
    transform: scale(1.05);
}