@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body{
	font-family: 'Poppins', sans-serif;
}
.abc{
	margin-bottom: 0px;
}
.navbar-right{
	margin: auto;
}
.navbar-right a:hover{
	border-bottom: 2px solid black;
}

#box-wrapper{
	background-image: url(../img/header-background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height:640px;
	padding: 0px;
	margin-bottom: 0px;
}
#box-wrapper:before{
	content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 640px;
    width: 100%;
}
#box-wrapper h1{
	
	color: white;
	font-weight: bold;
	 position: absolute;
	 z-index: 492;
	 top: 220px;
}
#box-wrapper p{
	text-align: justify;
	font-size: 15px;
	position: absolute;
     z-index: 492;
     top: 400px;
     color: white;
}
#box-wrapper .buy{
	width: 80px;
    height: 30px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
     position: absolute;
     z-index: 492;
     top: 500px;
     padding-top: 6px;
}
#box-wrapper .buy  a{
	color: #999;
	text-decoration: none;
}
.features h2{
	text-align: center;
}
.features p{
	text-align: center;
}
.box{
	transition: all 0.05s;
	margin: 48px;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #eeeeee;
}
.box:hover{
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
    transform: scale(1.05);
}
.feature-heding{
	padding: 18px;
}
.icon{
	font-size: 40px;
    padding: 20px 0px 12px 90px;
    color: #b7b2b2;
}
.feature-heding h4{
	text-align: center;
	padding-bottom: 12px;
}
.feature-heding p{
	text-align: -webkit-center;
	padding-bottom: 12px;
}