@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
body{
	font-family: 'Poppins', sans-serif;
}






.site-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 100px;
    border-bottom: 1px solid #ffb600;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
}

.header-wrap:before,
.header-wrap:after {
    content: none;
}

.site-header.small-height {
    background-color: rgba(10, 10, 10, 0.8);
    height: 70px;
}


/*Site Branding*/

.site-header .custom-logo {
    max-width: 200px;
    max-height: 60px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.site-header.small-height .custom-logo {
    max-width: 180px;
    max-height: 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.custom-logo-link {
    display: inline-block;
}

.site-title {
    line-height: 30px;
    display: inline-block;
}

.site-title a {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
    display: inherit;
    line-height: inherit;
}


/*End Site Branding*/


/*Navigation*/

.primary-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.primary-nav ul {
    /* display: flex; */
    /* list-style: none; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    /* padding-left: 0; */
    /* margin-bottom: 0; */
}

.primary-nav .menu-item {
    position: relative;
    margin-right: 20px;
}

.primary-nav .menu-item:last-child {
    margin-right: 0px;
}

.primary-nav .menu-item>a {
    font-size: 15px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    min-height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}

.site-header .primary-nav .menu-item>a {
    min-height: 100px;
}

.site-header.small-height .primary-nav .menu-item>a {
    min-height: 70px;
}

.primary-nav-list .menu-item>a {
    color: #fff;
}

.primary-nav-list .current-menu-item>a,
.primary-nav-list .menu-item>a:hover,
.primary-nav-list .current-menu-ancestor>a {
    color: #ffb600;
}

.primary-nav-list .current-menu-ancestor .current-menu-ancestor.current-menu-parent>a,
.primary-nav-list .current-menu-ancestor.current-menu-parent .current-menu-item>a {
    background: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
}

.site-header .primary-nav .menu-item-has-children>ul {
    width: 200px;
    padding-left: 0;
    position: absolute;
    top: 100px;
    display: none !important;
    z-index: 10;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.site-header.small-height .primary-nav .menu-item-has-children>ul {
    background-color: rgba(30, 30, 30, .97);
}

.site-header .primary-nav .menu-item-has-children>ul ul {
    top: 1px;
    border-left: 1px solid rgba(142, 141, 141, 0.2);
}

.site-header.small-height .primary-nav .menu-item-has-children>ul {
    top: 70px;
}

.site-header.small-height .primary-nav .menu-item-has-children>ul ul {
    top: 1px;
}

.primary-nav .menu-item:hover>ul {
    display: block !important;
}

.primary-nav .menu-item-has-children>ul>li {
    padding: 0;
    margin: 0;
    position: relative;
}

.primary-nav .menu-item-has-children>ul>li a {
    height: initial;
    display: block;
    padding: 5px 15px;
    background: transparent;
    font-size: 11px;
    box-shadow: none;
    margin-top: -1px;
}

.site-header .primary-nav .menu-item-has-children>ul>li a,
.site-header.small-height .primary-nav .menu-item-has-children>ul>li a {
    min-height: 30px;
}

.primary-nav .menu-item-has-children>ul>li:not(:first-child) a {
    border-top: 1px solid rgba(142, 141, 141, 0.2);
}

.primary-nav .menu-item-has-children>ul>li:not(:last-child) a {
    border-bottom: 1px solid rgba(142, 141, 141, 0.2);
}

.primary-nav .menu-item-has-children>ul>li a:hover {
    /* background: rgba(0, 0, 0, 0.3); */
    /* border-color: rgba(0, 0, 0, 0.3); */
}

.primary-nav .menu-item-has-children>ul>li ul {
    position: absolute;
    left: 100%;
    right: 100%;
    top: 1px;
    display: none;
}

.primary-nav .menu-item-has-children>ul>li:hover ul {
    display: block;
}


/*Mobile Menu Button*/

.m-menu-btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 27px;
    margin: 15px 0px 15px 25px;
    cursor: pointer;
    display: none;
}

.m-menu-btn span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.m-menu-btn span:before,
.m-menu-btn span:after {
    position: absolute;
    content: '';
}

.m-menu-btn span,
.m-menu-btn span:before,
.m-menu-btn span:after {
    width: 25px;
    height: 2px;
    background-color: #fff;
    display: block;
}

.m-menu-btn span:before {
    margin-top: -8px;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.m-menu-btn span:after {
    margin-top: 8px;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.m-menu-btn-ext span {
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.m-menu-btn-ext span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

.m-menu-btn-ext span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

.m-dropdown {
    display: none;
}


/*End Mobile Menu Button*/

.primary-nav .primary-nav-list {
    display: flex !important;
}


/*--------------------------------------------------------------
11. Home Page
--------------------------------------------------------------*/

/*******Start Site Header*******/

.site-header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    height: 120px;
    display: flex;
    justify-content: center;
    /* background: transparent; */
    background: #000;
    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    border-bottom: none;
}

.site-header>div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    position: relative;
}

.site-header.small-height {
    background: rgba(10, 10, 10, .8);
    height: 70px;
}

.site-header .custom-logo {
    max-width: 200px;
    max-height: 60px;
    transition: all 0.3s ease;
}

.site-header.small-height .custom-logo {
    max-width: 180px;
    max-height: 50px;
    transition: all 0.3s ease;
}

.site-branding a {
    line-height: 0;
    color: #fff;
}

.site-branding a:hover {
    color: #ffb600;
}

.custom-logo-link {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}

.custom-logo-link i {
    margin-right: 14px;
}

.site-title {
    line-height: 30px;
    display: inline-block;
}

.site-title {
    margin-left: 15px;
}

.site-title a {
    color: #fff;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 1px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 25px;
    display: inherit;
    line-height: inherit;
}

.header-wrap nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.primary-nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 0;
}

.primary-nav .menu-item {
    position: relative;
    margin: 0 10px;
}

.primary-nav .menu-item>a {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;
    height: 70px;
    display: flex;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

.menu-item.menu-item-has-children>a:after {
    content: "\f107";
    font-family: 'FontAwesome';
    margin-left: 3px;
    font-size: 14px;
    float: right;
}

.primary-nav-list .menu-item>a {
    color: #fff;
}

.site-header .primary-nav-list .active>a,
.site-header .primary-nav-list .current-menu-item>a,
.site-header .primary-nav-list .menu-item>a:hover {
    color: #ffb600;
}

.site-header.small-height .primary-nav-list .active>a,
.site-header.small-height .primary-nav-list .current-menu-item>a,
.site-header.small-height .primary-nav-list .menu-item>a:hover {
    color: #8470FF;
}

.site-header .small-height .primary-nav .menu-item-has-children>ul {
    width: 200px;
    display: block;
    padding-left: 0;
    background: transparent;
    position: absolute;
    top: 70px;
    display: none !important;
    z-index: 10;
}

.primary-nav .menu-item:hover>ul {
    display: block !important;
    background: #000;
}

.primary-nav .menu-item-has-children>ul>li {
    padding: 0;
    margin: 0;
    position: relative;
}

.primary-nav .menu-item-has-children>ul>li a {
    height: initial;
    display: block;
    padding: 5px 15px;
    background: transparent;
    font-size: 11px;
    box-shadow: none;
    margin-top: -1px;
}

.primary-nav .menu-item-has-children>ul>li:not(:first-child) a {
    border-top: 1px solid rgba(142, 141, 141, 0.2);
}

.primary-nav .menu-item-has-children>ul>li:not(:last-child) a {
    border-bottom: 1px solid rgba(142, 141, 141, 0.2);
}

.primary-nav .menu-item-has-children>ul>li a:hover {
    /* background: rgba(0, 0, 0, 0.3); */
    /* border-color: rgba(0, 0, 0, 0.3); */
}

.primary-nav .menu-item-has-children>ul>li ul {
    position: absolute;
    left: 100%;
    right: 100%;
    top: 1px;
    display: none;
}

.primary-nav .menu-item-has-children>ul>li:hover ul {
    display: block;
}

.m-menu-btn {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 27px;
    margin: 15px 0px 15px 25px;
    cursor: pointer;
    display: none;
}

.m-menu-btn span {
    margin: 0 auto;
    position: relative;
    top: 12px;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.m-menu-btn span:before,
.m-menu-btn span:after {
    position: absolute;
    content: '';
}

.m-menu-btn span,
.m-menu-btn span:before,
.m-menu-btn span:after {
    width: 25px;
    height: 2px;
    background-color: #fff;
    display: block;
}

.m-menu-btn span:before {
    margin-top: -8px;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.m-menu-btn span:after {
    margin-top: 8px;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
}

.m-menu-btn-ext span {
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.m-menu-btn-ext span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

.m-menu-btn-ext span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
}

.m-dropdown {
    display: none;
}

.primary-nav .primary-nav-list {
    display: flex !important;
}


/********End Site Header********/








.abc{
	margin-bottom: 0px;
	background-color: rgba(0, 0, 0, 0.369);
    position: absolute;
    width: 100%;
}
.navbar-brand{
	color: white;
}
.navHeaderCollapse li a{
	color: white;
	border-bottom: 2px solid transparent;
}
.navbar-right{
	margin: auto;
}
.navbar-brand{
	margin-left: 70px;
}
.navbar-brand:hover {
    text-decoration: none;
    color: white;
}
.nav li a:hover{
	background-color: #564e4e;
	border-bottom: 2px solid #00cf97;
}

#box-wrapper{
	background-image: url(../img/header-background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height:640px;
	padding: 0px;
	margin-bottom: 0px;
}
#box-wrapper:before{
	content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 640px;
    width: 100%;
}
#box-wrapper h1{
	
	color: white;
	font-weight: bold;
	 position: absolute;
	 z-index: 492;
	 top: 220px;
}
#box-wrapper p{
	text-align: justify;
	font-size: 15px;
	position: absolute;
     z-index: 492;
     top: 400px;
     color: white;
}
#box-wrapper .buy{
	width: 80px;
    height: 30px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
     position: absolute;
     z-index: 492;
     top: 500px;
     padding-top: 6px;
}
#box-wrapper .buy  a{
	color: #999;
	text-decoration: none;
}
.features h2{
	text-align: center;
}
.features p{
	text-align: center;
}
.box{
	transition: all 0.05s;
	margin: 30px 0px 30px 0px;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: #eeeeee;
}
.box:hover{
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
    transform: scale(1.05);
}
.feature-heding{
	padding: 18px;
}
.icon{
	font-size: 40px;
    padding: 20px 0px 12px 135px;
    color: #b7b2b2;
}
.feature-heding h4{
	text-align: center;
	padding-bottom: 12px;
}
.feature-heding p{
	text-align: -webkit-center;
	padding-bottom: 12px;
}
.overvies{
	background-color: #f7f7f7;
}
.overvies h3{
	text-align: center;
	padding-top: 50px;
}
.overvies p{
	text-align: center;
}
.border{
	margin-bottom: 24px;
	margin-top: 24px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #cbcbcb;
	border-radius: 5px;
}
.v-icon{
	background-color: white;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 0px;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
    border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #eeeeee;
	color: #a8a8a8;
	transform: translateX(-50%);
}
.chapter{
	padding: 18px;
}
.overvies h5{
	text-align: center;
	padding: 24px 0px;
	color: #a4a4a4;
}
.overvies p{
	text-align: -webkit-center;
	padding-bottom: 12px;
	color: #acacac;
}
.border:hover, .border:hover .v-icon{
	border-color: #00b181;
}
.video-wrapper{
	position: relative;
}
.video-wrapper iframe{
	position: absolute;
}
.author h3{
	text-align: center;
}
.author p{
	text-align: center;
	padding-bottom: 50px;
}
.text{
	margin: 0px 0px 0px 50px;
    padding: 0px 46px 0px 70px;
}
.text h3{
	line-height: 15px;
	padding-bottom: 10px;
}
.text h5{
	line-height: 18px;
	text-align: center;
}
.text img{
	padding-top: 30px;
}
.a-icon{
	padding: 10px;
    margin: 15px 5px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.a-icon:hover{
	background-color: #00cf97;
	color: white;
}
.pic{
	margin-left: 40px;
}
.laiberi{
	background-image: url(../img/library.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-width: 100%;
    min-height: 200px;
}
.bg h3{
	color: white;
	text-align: center;
	line-height: 70px;
}
.l-icon{
	float: left;
    font-size: 20px;
    color: white;
    padding-left: 95px;
    line-height: 1px;
}
.bg p{
	float: left;
    font-size: 17px;
    color: white;
    padding-left: 10px;
    line-height: 0px;
}
.news{
	width: 100%;
    height: 580px;
}
.news h3{
	text-align: center;
}
.n-t{
	text-align: center;
	padding-bottom: 50px;
}
.text-ab{
	position: absolute;
    top: 210px;
    left: 9%;
    width: 320px;
    height: 170px;
    padding: 15px;
    background-color: white;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    border-color: #cbcbcb;
    transition: all 0.05s;
}
.n-icon{
	float: left;
	padding-right: 5px;
}
.i-t{
	display: inline-block;
}
.i-p{
	float: left;
}
.i-p p{
	float: left;
}
.i-t h6{
	float: right;
    margin: 1px 0px 1px 225px;
    margin: 0;
    padding-left: 197px;
    margin-top: -27px;
}
.text-ab:hover{
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
    transform: scale(1.05);
}
.circle{
	background-image: url(../img/review-backgroud.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 450px;
}
.carousel-inner{
	height: 275px;
    width: 70%;
    background-color: white;
    left: 15%;
    top: 85px;
}
.carousel-caption{
	top: 120px;
}
.carousel-control{
	left: 108px;
}
.carousel-control.right{
	left: 875px;
}
.ia{
	padding-left: 40%;
}
.item{
	padding-left: 40%;
}
.list{
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.14);
    transform: scale(1.05);
    height: 415px;
    margin: 0px 30px;
}
.pricing{
	height: 560px;
}
.pricing h2{
	text-align: center;
	padding-top: 15px;
}
.pricing p{
	text-align: center;
}
.heading-list{
	position: relative;
    width: 300px;
    height: 100px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 0, 0, 0.14);
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    text-align: center;
}
.heading-list h4{
	font-size: 30px;
}
.fa-usd{
	position: absolute;
    top: 35px;
    left: 166px;
    font-size: 18px;
}
.list:hover .heading-list{
	background-color: #00cf97;
	color: white;
}
.plan ul{
	list-style: none;
	padding: 15px 0px 20px 0px;
}
.plan li{
    padding: 12px 0px 13px 0px;
    text-align: center;
}
.plan li a{
	text-decoration: none;
	color: black;
}
.plan li:hover{
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: #ccc;
}
.p-n{
	width: 170px;
    height: 35px;
    margin-left: 66px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}
.p-n:hover{
	background-color: #00cf97;
	color: white;
}
.c-icon{
	float: left;
    font-size: 25px;
    padding-right: 10px;
}
.location{
	height: 50px;
}
input{
	border-collapse: collapse;
	border: 1px solid black;
}
.name{
	padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
.email{
	padding: 10px;
    border-radius: 5px;
}
.message-box{
	margin-top: 25px;
}
.send-box{
	width: 125px;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding-top: 11px;
}
.send-box a{
	text-decoration: none;
	color: black;
}
.send-box:hover, .send-box a:hover{
	background-color: #00cf97;
	color: white;
}
.contact h2{
	text-align: center;
	padding-top: 15px;
}
.c-p{
	text-align: center;
	padding-bottom: 50px;
}
.footer{
	background-color: #404040;
	text-align: center;
    color: white;
    width: 100%;
    height: 100px;
}
.footer p{
    padding-top: 8px;
    font-size: 12px;
}
.f-icon{
	padding: 9px;
    background-color: #6c6c6c;
    border: 1px solid #6c6c6c;
    border-radius: 6px;
    margin-left: 8px;
}
.footer-i{
	margin: 16px 0px 10px 0px;
}
.f-icon:hover{
	background-color: #00cf97; 
}
/*--------------------------------------------------------------
14. Responsive
--------------------------------------------------------------*/

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    /*Home page Header*/
    .site-header>div {
        /*width: 100%;*/
        padding: 0;
    }
    .site-branding {
        margin-left: 15px;
    }
    .m-menu-btn {
        margin-right: 15px;
    }
    .m-menu-btn {
        display: block;
    }
    .primary-nav-list {
        position: absolute;
        top: 120px;
        width: 100%;
        left: 0;
        display: none;
        background: rgba(30, 30, 30, .97);
        max-height: 295px;
        overflow-y: auto;
        overflow-x: hidden;
        transition: top 0.3s ease;
    }
    .primary-nav .primary-nav-list {
        display: none;
    }
    .small-height .primary-nav-list {
        top: 70px;
        transition: top 0.3s ease;
    }
    .m-menu ul {
        list-style: none;
    }
    .m-menu ul .menu-item a {
        display: block;
        padding: 6px 15px;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
    }
    .m-menu ul .menu-item ul li a {
        font-size: 11px;
    }
    .m-menu ul .menu-item a:hover {
        background-color: #2b2b2b;
    }
    .m-dropdown {
        display: inline-block;
        position: absolute;
        top: 9px;
        right: 16px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 10px;
        line-height: 18px;
        height: 20px;
        width: 20px;
        text-align: center;
        z-index: 11;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        transition: all 0.3s ease;
    }
    .m-dropdown:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
    }
    .m-menu ul .menu-item ul {
        display: none;
        padding-left: 10px;
    }
    .m-menu ul>.menu-item {
        position: relative;
    }
    .menu-item.menu-item-has-children>a:after {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    /*Home page Header*/
    .site-header>div {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 650px) {}

@media screen and (max-width: 450px) {}